
.display{
    background-color: rgb(3, 8, 116);
    color: rgb(206, 166, 90);
    font-weight: bold;
    height: 12em;
    width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .25em solid black;
    border-radius: .25em;
}

.title{
    font-family:category;
    font-size: 8em;
    text-shadow: 10px 8px 0px rgba(0,0,0,0.93);
    letter-spacing: .075em;

}

.title::first-letter
{
    font-size: 7rem;
    vertical-align:4%;
    letter-spacing:.15em;
}
