@font-face {
    font-family: category;
    src: url(/fonts/Swiss\ 911\ Ultra\ Compressed\ BT.woff);
}

@font-face {
    font-family: answer;
    src: url(/fonts/ITC\ Korinna\ Std\ Heavy.otf);
}

body {
    background-color: #333;
}

.display {
    background-color: #030874;
    color: #cea65a;
    font-weight: bold;
    height: 6em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .25em solid black;
}

.answer-title {
    font-family: category;
    font-size: 4em;
    text-shadow: 5px 4px 0px rgba(0, 0, 0, 0.93);
    letter-spacing: .075em;
    pointer-events: none;
}

.answer-title::first-letter {
    font-size: .85em;
    vertical-align: 6%;
    letter-spacing: .15em;
}

.category-display {
    color: aliceblue !important;
    border-bottom: .5em solid black;
}

.category-title {
    font-family: category;
    font-size: 2.5em;
    text-transform: uppercase;
    text-shadow: 5px 4px 0px rgba(0, 0, 0, 0.93);
    letter-spacing: .05em;
}

.answer-modal-content {
    background-color: #030874 !important;
    font-family: answer;
    font-size: 1.2em;
    color: aliceblue;
    text-shadow: 5px 4px 0px rgba(0, 0, 0, 0.93);
}

.category-answers {
    background-color: black;
}

.category-answers:first-child {
    border-radius: 2em 0 0 2em;
}

.category-answers:last-child {
    border-radius: 0em 2em 2em 0em;
}

.answer {
    cursor: pointer;
}

.scoreboard {
    width: 15em;
}

.disabled {
    background-color: #030874;
    pointer-events: none;
}

.navbar {
    border-bottom: 1px solid black;
}

.navbar-brand {
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}

.navbar-toggler {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(1000%);
}

.negative {
    color: red;
}

.progress-bar {
    background-color: rgb(45, 228, 8);
    color: #333 !important;
}

.progress {
    background-color: rgb(124, 124, 124);
    border-radius: 0;
}


#question-buttons>button {
    color: aliceblue;
    border: none;
    background-color: #030874;
}

#question-buttons>button:hover {
    outline: 1px solid wheat !important;
}

.create {
    color: aliceblue;
}

.create-category {
    border: 1px solid black;
    height: 6em;
    width: 10em;
    background-color: white;
}

.create-answer {
    border: 1px solid black;
    height: 6em;
    width: 10em;
    background-color: white;
}

.form-select{
    text-align: center;
    border-radius: 0;
    box-shadow: none !important;
    font-weight: bold;
}



#answer-list{
    height: 10em;
    overflow-y: auto;
}


.drop-zone{
    width: 10em;
    height: 10em;
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: #030874;
    color: #cea65a;
    font-weight: bold;
}